<div class="container">
  <div class="jumbotron">
    <h1>User Search Application</h1>      
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info" style="background-color: white">
        <div class="panel-body">
          <form id='search' action='/index' autocomplete='off' method='POST'>
            <div class="col-md-4 offset-md-4">
              <label class="form-label" for="select-box" style="font-weight: bold;">City: - </label>
              <select class="form-control" id="city" name="city">
                  <option value="London" selected="selected">London</option>
              </select>
          </div>
          <div class="col-md-4 offset-md-4" style="padding-top: 10px;">
              <label class="form-label" for="select-box" style="font-weight: bold;">Distance (Miles): - </label>
              <select class="form-control" id="distance" name="distance">
                  <option value="50" selected="selected">50</option>
                  <option value="25">25</option>
                  <option value="10">10 </option>
                  <option value="5">5</option>
              </select>
          </div>
          </form>
          <div id='col-md-4 offset-md-4' style="padding-top: 10px;">
            <input class='NavButton centre' form='search' type='submit' value='Search'>
          </div>
          </div>
      </div>
  </div>
  </div>
  <% if (typeof searchDetails !== 'undefined') { %>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="panel panel-info" style="background-color: white">
          <div class="panel-heading"><h3 style="text-align: center;">Last Search</h2></div>
            <table class="table">
              <thead>
                <tr>
                <th scope="col">City</th>
                <th scope="col">Distance</th>
              </tr>
              </thead>
              <tr>
                <td><%= searchDetails.city %></td>
                <td><%= searchDetails.distance %> </td>
              </tr>
            </table>
         
          </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info" style="background-color: white">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Email</th>
            </tr>
            </thead>
        <% for (const user in usersCity) { %>
            <tr>
              <td><%= usersCity[user].first_name %> </td>
              <td><%= usersCity[user].last_name %> </td>
              <td><%= usersCity[user].email %> </td>
            </tr>
          <% } %>
          <% for (const user in usersDistance) { %>
            <tr>
              <td><%= usersDistance[user].first_name %> </td>
              <td><%= usersDistance[user].last_name %> </td>
              <td><%= usersDistance[user].email %> </td>
            </tr>
          <% } %>
          </table>
        </div>
      </div>
    </div>
    <% } %>
  </div>
